@model VueSelectViewModel

<v-select id="@Model.Id" class="vue-select" label="@Model.DescriptionPropertyName"
          :reduce="option => option.@(Model.IdentifierPropertyName)" 
          :filterable="false" 
          :options="selectOptions"
          v-on:search="onSearch" 
          v-on:input="setSelectedValue" 
          v-model="valorSelecionado"
          :valor="valorSelecionado" 
          placeholder="@Model.Placeholder"
          valor-inicial="@Model.InitialValue">
    <template slot="no-options">
        Digite um nome para procurar...
    </template>
    <template slot="option" slot-scope="option">
        <div class="d-center" 
             v-on:click="setSelectedValue(option.@(Model.IdentifierPropertyName))">
            {{ option.@Model.DescriptionPropertyName }}
        </div>
    </template>
    <template slot="selected-option" slot-scope="option">
        <input id="@(Model.ReturnPropertyName)"
               name="@(Model.ReturnPropertyName.Replace("_", "."))"
               class="input-vue-selected"
               v-model="valorSelecionado" />
        <input id="@(Model.ReturnPropertyName)Descricao"
               name="@(Model.ReturnPropertyName.Replace("_", "."))Descricao"
               class="hidden"
               v-model="valorSelecionadoTexto" />
        <div class="selected d-center">
            {{ option.@(Model.DescriptionPropertyName) }}
        </div>
    </template>
</v-select>

<script type="application/javascript">
    document.addEventListener('DOMContentLoaded', function ()
    {
        componenteVueSelect('@Model.Id', '@Model.IdentifierPropertyName', '@Model.DescriptionPropertyName', '@Model.FetchUrl');
    });
</script>